@media (min-width: 37.5em) {
	header {
       /* grid: 1fr 1fr / 1fr 3fr;*/
    }
    #ham_menu {
		display: none; 
	}
    nav{
        grid-column: 1/3;
    }
	.nav_list {
		flex-direction: row;
	}

	.nav_list li {
		display: block;
		flex: 1 1 100%;
	}
	#discoverMain{
		margin: .5em auto;
		max-width: 1000px;
	}
	#joinmain {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5rem;
	  }
}