@media(min-width: 64em){
    main{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #second_principle{
        height: 100%;
    }
    #third_principle{
        height: 100%;
    }
}