body{
    font-size: 18px;
    line-height: 1.5;
    font-family: 'KoHo', sans-serif;
}
header,
footer {
  background-color: #2b3a67;
}
header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}
header{
    text-align: center;
    color: antiquewhite;
    padding: 1rem;
}
header img {
    float: left;
    margin: 5px;
    height: 100px;
}
footer {
    color: antiquewhite;
    text-align: center;
    padding: 1.1;
}
#ham_menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 10px;
	right: 10px;
}
#my_photo{
    grid-column: 1/1;
}

#ham_menu::before {
	content: "☰";
}

#ham_menu.open::before {
	content: "✖️";
}
.nav_list {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}
.nav_list li {
	display: none;
}
.nav_list li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.nav_list li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

#weather {
	background-color: #464E3C;
	color: antiquewhite;
	text-align: center;
	padding: 0.1em;
}