body{
    font-size: 18px;
    line-height: 1.5;
}
header,
footer {
  background-color: #2b3a67;
}
header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}
header{
    text-align: center;
    color: antiquewhite;
    padding: 1rem;
}
header img {
    float: left;
    margin: 5px;
    height: 100px;
}
footer {
    color: antiquewhite;
    text-align: center;
    padding: 1.1;
}
h3, ul, p {
    font-family: 'KoHo', sans-serif;
}
.my_photo{
    grid-column: 1/1;
}